.header{
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.9)),url('./headerBackGround.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 5rem;
}
.header__heading{
    font-size: 6rem;
    color: white;
    margin-bottom: 4rem;
}
.btn-list{
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
}

@media screen and (max-width:950px){
    .header{
        position: relative;
    }
    .header__heading{
        font-size: 3rem;
        margin-bottom: 1rem;
    }
}