.header{
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.9)),url('../../assets/cracow.jpg');
    
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 750px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.header__heading{
    font-size: 6rem;
    color: white;
    margin-bottom: 4rem;
}