.list-scroll-left,.list-scroll-right{
    position: absolute;
    border-radius: 10px 0px 0px 10px;
    border: 0;
    padding:20px;
    top: 42.5%;
    background-color: grey;
    color: white;
    opacity: 0.8;
    cursor: pointer;
    z-index: 100;
}
.list-scroll-left{
    left: -20px;
}
.list-scroll-right{
   right: -20px;
   border-radius: 0px 10px 10px 0px;
}