.listHeader{
    margin: 1rem auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
}

.list-Heading{
    font-size: 2rem;
    font-weight: bold;
    color:rgb(56, 56, 56);
}
.listHeader__right{
    display: flex;
    align-items: center;
}
.arrow{
    margin-left: 10px;
    background-color: rgb(104, 240, 133);
    color: white;
    padding: 4px;
    border-radius: 50%;
}
.arrow:hover{
    cursor: pointer;
}

.list-of-places{
    width: 100%;
    max-width: 1250px;
    position: relative;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
