.contactMeForm{
    position: absolute;
     margin: 0 30rem;
     width: 40%;
     height: 550px;
     background-color: white;
     padding: 70px;
     display: flex;
     font-family: var(--second-font);
     flex-direction: column;
    border: 2px solid rgb(73, 73, 73);
    -webkit-box-shadow: 9px 11px 17px -3px rgb(73, 73, 73);
-moz-box-shadow: 9px 11px 17px -3px rgb(73, 73, 73);
box-shadow: 9px 11px 17px -3px rgb(73, 73, 73);
 }
 .contact-me__heading{
    font-size: 3rem;
    font-weight: 400;
    margin-bottom: 0px;
 }
 .contactMeForm__input{
     padding: 20px 0;
     border: 0;
     font-size: 1.4rem;
     outline: 0;
     border-bottom: 2px solid rgb(32, 32, 32);
     margin-bottom: 20px;
 }
 .contactMeForm__textarea{
    height: 200px;
    border: 0;
    outline: 0;
    font-size: 1.5rem;
    border-bottom: 2px solid rgb(32, 32, 32);
 }
.contactMeForm__btn{
    margin: 40px 0;
    font-size: 1.5rem;
    font-family: var(--second-font);
    font-weight: bold;
    padding: 15px 20px;
    width: 30%;
    background-color: white;
    cursor: pointer;
    border: 2px solid rgb(32, 32, 32);
    transition: all 0.5s;
}
.contactMeForm__btn:hover{
    background-color:rgb(32, 32, 32) ;
    color: white;
    cursor: pointer;
}