@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700;800&family=Pacifico&family=Poppins:ital,wght@0,400;0,700;1,600&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root{
  --basic-font:'Poppins', sans-serif;
  --second-font:'Open Sans', sans-serif;
  --italic-font:'Pacifico', cursive;
  --red-color:rgb(201, 34, 34);
  --green-color:rgb(104, 240, 133);
  --dark-color:rgb(32, 32, 32);
  
}

body{
  font-family:var(--basic-font) ;
 
}