@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700;800&family=Pacifico&family=Poppins:ital,wght@0,400;0,700;1,600&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --basic-font:'Poppins', sans-serif;
  --second-font:'Open Sans', sans-serif;
  --italic-font:'Pacifico', cursive;
  
}

body{
  font-family:var(--basic-font) ;
}